@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Barlow';
        src: url('/fonts/Barlow-Black.ttf')
    }
    @font-face {
        font-family: 'Barlow Medium';
        src: url('/fonts/Barlow-Medium.ttf');
    }
}